name: amazonlinux2-2.0

on:
  push:
    paths:
      - al2/2.0/**/*
      - .github/workflows/amazonlinux2-2.0.yml
    branches:
      - main
  pull_request:
    paths:
      - al2/2.0/**/*
      - .github/workflows/amazonlinux2-2.0.yml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          .github/build.sh 1.18
          .github/build.sh 1.17
          .github/build.sh 1.16
          .github/build.sh 1.15
        env:
          USERNAME: ${{ secrets.username }}
          PASSWORD: ${{ secrets.password }}
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BASE_IMAGE: amazonlinux2
          BASE_IMAGE_VERSION: "2.0"
          WORKDIR: al2
  