name: amazonlinux2-3.0

on:
  push:
    paths:
      - al2/3.0/**/*
      - .github/workflows/amazonlinux2-3.0.yml
    branches:
      - main
  pull_request:
    paths:
      - al2/3.0/**/*
      - .github/workflows/amazonlinux2-3.0.yml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: |
          .github/build.sh 1.24
          .github/build.sh 1.23
        env:
          USERNAME: ${{ secrets.username }}
          PASSWORD: ${{ secrets.password }}
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BASE_IMAGE: amazonlinux2
          BASE_IMAGE_VERSION: "3.0"
          WORKDIR: al2
